<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="schn.beme.be.storysummary">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="schn.beme.storysummary.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="schn.beme.storysummary.mvp.registration.RegistrationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="schn.beme.storysummary.mvp.sectionchoice.SectionChoiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--
        specify theme is needed for to force to not using android actionbar theme
        because  we use theretrocpompatibility actionbar in java code
        -->
        <activity
            android:name="schn.beme.storysummary.mvp.diagram.DiagramActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="schn.beme.storysummary.mvp.settings.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name="schn.beme.storysummary.mvp.chapter.ChapterActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name="schn.beme.storysummary.mvp.scene.SceneActivity">
        </activity>
        <activity android:name="schn.beme.storysummary.mvp.scenecharacters.SceneCharactersActivity">
        </activity>
        <activity android:name="schn.beme.storysummary.mvp.character.CharacterActivity">
        </activity>
        <activity android:name="schn.beme.storysummary.mvp.charactertraits.CharacterTraitsActivity">
        </activity>
    </application>

</manifest>